.container1 {
    max-width: 500px; /* Set maximum width for the container */
    height: 750px;
    margin: 0 auto; /* Center the container horizontally */
    padding: 40px; /* Add padding inside the container */
    margin-top: 20%; /* Set top margin as a percentage of the viewport height */
    margin-bottom: 20%;
    overflow: hidden; /* Hide any overflowing content */
    background-color: #156d92;
    color: rgb(131, 125, 125);
    border:  2px solid rgb(45, 75, 156);
}




.form-group label {
    display: block; /* Display labels as blocks */
    margin-bottom: 5px; /* Add bottom margin to labels */
    margin-left: 20px;
    font-weight: normal; /* Set font weight to bold for labels */
}

.form-control {
    width: 80%; /* Set width of form controls */
    padding: 10px 20px; /* Add padding inside form controls */
    font-size:20px; /* Set font size */
    margin-left: 20px;
    border: 1px solid #4e4d4d; /* Add border with color */
    border-radius: 4px; /* Add border radius for rounded corners */
    margin-bottom: 10px;
}

.login-grid {
    display: grid; /* Use grid layout for the element */
    grid-template-columns: 0.1fr 1.5fr 8fr; /* Define columns with fractional widths */
    grid-gap: 10px; /* Set the gap between grid items */
}

.login-text{
  grid-column: 1 / 4; /* Span across all three columns */
  text-align: start; /* Center-align text */
  margin-top: -50px;
}

.forgot-pass{
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.login-text1{
  grid-column: -1 / 1; /* Span from second to third column from the end */ 
    margin-bottom:50px;
    text-align: center; 
    margin-top: -20px;
}

.login-text h1 {
    margin-bottom: 20px; /* Add bottom margin to the heading */
    text-align: center; /* Center-align text */
    color: #b4cfe4; /* Set text color */
    letter-spacing: .1em; /* Add letter-spacing between characters */
    font-family: sans-serif;
}

.login-text1 span a{

    font-weight: normal; /* Set font weight to bold */
    cursor: pointer; /* Change cursor to pointer on hover */
    color: white;
}

/* Styles for button groups */
.btn-group {
    margin-top: 10px; /* Add a small top margin to button group */
    margin-bottom: 20px; /* Add bottom margin to button group */
}

/* Styles for buttons in the signup form */
.btn {
    width: 90%;
    padding: 15px 20px; /* Set padding for buttons */
    font-size: 20px; /* Set font size for buttons */
    margin-left: 20px;
    margin-top: 10px; 
    border: none; /* Remove button borders */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Styles for primary button in the signup form */
.btn-primary {
    background-color: #28965f; /* Set background color for primary button */
    color: #fff; /* Set text color for primary button */
}

/* Styles for danger button in the signup form */
.btn-danger {
    margin-top: 10px;
    background-color: #a80f0f; /* Set background color for danger button */
    color: #fff; /* Set text color for danger button */
}

.btn-primary:hover{
   background-color: #127242;
}

.btn-danger:hover {
  background-color: #7e0808;
}